parameters:
	excludes_analyse:
		- %rootDir%/../../../src/PHPStan/*

	autoload_files:
		- %rootDir%/../../../tests/src/Entity.php
		- %rootDir%/../../../tests/src/presenters.php

	ignoreErrors:

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
