parameters:
	connection:
		host: 127.0.0.1
		port: 3306
		user: root
		password: root

	console.url: http://localhost

extensions:
	visible: JedenWeb\Visible\DI\VisibleExtension

application:
	mapping:
		*: Tests\JedenWeb\VIsible\Control\*Presenter

services:
	routing.router: Nette\Application\Routers\SimpleRouter('Homepage:default')
	- Doctrine\Common\EventManager
	- Doctrine\DBAL\Driver\PDOMySql\Driver
	- Doctrine\DBAL\Connection(%connection%)
	- Doctrine\Common\Annotations\AnnotationReader
	- Doctrine\ORM\Mapping\Driver\AnnotationDriver(@Doctrine\Common\Annotations\AnnotationReader)
	-
		class: Doctrine\ORM\Configuration
		setup:
			- setMetadataDriverImpl()
			- setProxyDir(%tempDir%)
			- setProxyNamespace('Tests')
	-
		type: Doctrine\ORM\EntityManager
		factory: Doctrine\ORM\EntityManager::create(@Doctrine\DBAL\Connection)
